.showMore-block {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 431px;
  max-height: 55px;
  margin: 50px;

  .show-more {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    max-width: 172px;
    max-height: 55px;

    .show-button {
      border-radius: 18px;
      // min-width: 170px;
      height: 54px;
      color: $text-color;
      background-color: $primary-color !important;
      font-weight: 700;
      font-size: 22px;
      line-height: 91%;
      cursor: pointer;
      border: none;
    }

    .dribble-logo {
      width: 100%;
    }
  }
}
