// Primary and Secondary Colors
$primary-color: #ffffff;
$secondary-color: #c3f00f;

// Background Colors
$background-color: #121c22;
$dotted-background-color: #18262e;
$review-background-color: #1e2e38;

// Line and Element Colors
$line-color: #334855;
$round-color: #1e2e38;

// Fonts
$main-font:'Proxima Nova',sans-serif;
$title-font:'PolySans', sans-serif;
$second-title-font:'Russo_one', sans-serif;

@font-face {
    font-family: 'Proxima Nova';
    src: url('../Fonts/Proxima\ Nova\ Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'Proxima Nova';
    src: url('../Fonts/Proxima\ Nova\ Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'PolySans';
    src: url('../Fonts/PolySans\ Slim.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Russo_One';
    src: url('../Fonts/Russo_One.ttf');
    font-weight: normal;
    font-style: normal;
  }