.form-container-desktop {
  margin: 0 auto;
  padding: 20px;

  @media (max-width: 1024px) {
    padding: clamp(10px, 5vw, 40px);
  }
}

@media only screen and (min-width: 1024px) {
  .form-container-desktop {
    background-color: #18262e;
    max-width: 800px;
    padding: 40px;
    border: 1px solid white;
  }

  .form-item {
    margin-bottom: 20px;
  }

  .ant-input {
    font-size: 18px;
    background-color: #243843;
    width: 100%;
  }
}
