


.form-container-desktop {
    /* Base styling for the form on all screen sizes */
    margin: 0 auto;
    padding: 20px;
   
  
    /* Make form fully responsive by using vw or clamp() */
    @media (max-width: 1024px) {
      padding: clamp(10px, 5vw, 40px);
    }
  }
  
  /* Media query for desktop screens (min-width: 1024px) */
  @media only screen and (min-width: 1024px) {
    .form-container-desktop {
      background-color: #18262E; /* Background color for larger screens */
      max-width: 800px;
      padding: 40px;
      border: 1px solid white;
    }
  
    .form-item {
      margin-bottom: 20px;
    }
  
    .ant-input {
      font-size: 18px;
      background-color: #243843;
      width: 100%; /* Ensure input fields stretch to the full width */
    }
  }
