@import '../../Styles/index.scss';
$breakpoints: (phone: 320px, tablet: 768px, desktop: 1024px);

.header_container {
    padding-top: px-to-rem(10px);
    padding-left: clamp(50px, 5vw, 168px);
    padding-right: clamp(50px, 5vw, 168px);
    max-width: px-to-rem(1440px);
    margin: 0 auto;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 1000;

    .header_logo {
        display: flex;
        max-width: 100%;
        margin-left: -50px;
        height: auto;
    }

    nav {
        a {
            text-decoration: none;
            color: $primary-color;
            font-family: $main-font;
            font-weight: 400;
            letter-spacing: 0.03em;
            white-space: nowrap;
        }
    }

    nav a {
        font-size: 28px;

        @media(max-width:1200px) {
            font-size: 18px;
        }

    }

    .header_navigation {
        display: flex;
        gap: clamp(10px, 5vw, 38px);
        align-items: center;
        padding-left: 150px;
        padding-top: px-to-rem(14px);
        padding-bottom: px-to-rem(17px);
    }

    .header_actions {
        display: flex;
        justify-content: space-between;
        padding-right: 80px;

        .contact-button_header {
            display: flex;
            padding: px-to-rem(10px) px-to-rem(25px);
            cursor: pointer;
            background: none;
            color: $secondary-color;
            font-size: px-to-rem(18px);
            font-weight: 400;
            white-space: nowrap;
        }

        .get-started-button_header {
            display: flex;
            cursor: pointer;
            padding: px-to-rem(10px) px-to-rem(18px) px-to-rem(10px);
            background-color: $secondary-color;
            border-radius: px-to-rem(10px);
            font-weight: 600;
            white-space: nowrap;
            font-size: px-to-rem(16px);
            margin-right: -40px;
        }
    }

    .header_burger {
        display: none;
    }


    @include media("<=desktop") {
        .header_navigation {
            display: none;
        }

        .header_actions {
            justify-content: flex-end;
        }

        .header_actions {
            display: flex;
            justify-content: flex-end;
            padding-right: 80px;
            padding-left: -160px;

            .contact-button_header {
                display: none;
            }

            .get-started-button_header {
                display: flex;
                justify-content: flex-end;
                white-space: nowrap;
                font-size: px-to-rem(16px);

            }
        }

        .header_burger {
            display: flex;
            cursor: pointer;
            background: none;
            padding-right: 30px;

        }

    }

    @include media("<=tablet") {
        .header_actions {
            display: flex;
            justify-content: flex-end;

            .get-started-button_header {
                display: flex;
                justify-content: flex-end;

            }
        }

        .header_burger {
            padding-right: 20px;

        }
    }
}