@import '../../Styles/index.scss';

#showcase {
  margin-bottom: 3rem;

  .container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    position: relative;

    .showcase_wrapper {
      display: flex;
      justify-content: space-between;
      overflow: hidden;
      flex-wrap: wrap;

      .showcase-img {
        object-fit: cover;
        position: absolute;

        @media (min-width: 1440px) {
          &.image1 {
            left: -10rem;
            top: 14rem;
            z-index: 2;
          }

          &.image2 {
            right: -9rem;
            top: -1rem;
            z-index: 2;
          }
        }

        @media (min-width: 1024px) and (max-width: 1440px) {
          &.image1 {
            left: -1rem;
            top: 14rem;
            z-index: 2;
          }

          &.image2 {
            right: -3rem;
            top: -1rem;
            z-index: 2;
          }
        }

        @media (max-width: map-get($breakpoints, desktop)) {
          &.image1 {
            left: -3rem;
            top: 10rem;
          }

          &.image2 {
            right: 0;
            top: -3rem;
          }
        }

        @media (max-width: map-get($breakpoints, tablet)) {
          &.image1 {
            left: -4rem;
            top: 10rem;
          }

          &.image2 {
            right: -3rem;
            top: -1rem;
          }
        }
      }
    }

    .showcase_content {
      margin-top: 100px;
      padding: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100%;

      .showcase_title {
        font-weight: 700;
        font-size: 70px;
        line-height: 1.2;
        letter-spacing: 0.01em;
        text-align: center;
        color: $primary-color;
        padding: 20px;
        margin-top: -80px;

        @media (max-width: map-get($breakpoints, desktop)) {
          font-weight: 700;
          font-size: 70px;
          padding: 20px;
          width: 1200px;
        }

        @media (max-width: map-get($breakpoints, tablet)) {
          font-weight: 600;
          font-size: 40px;
        }

        @media (max-width: map-get($breakpoints, phone)) {
          font-size: 40px;
          line-height: 123%;
          letter-spacing: 0.01em;
        }

        .green_title {
          color: $secondary-color;
        }
      }

      .titleImg {
        padding-left: 50px;

        @media (max-width: map-get($breakpoints, tablet)) {
          display: none;
        }

        @media (max-width: map-get($breakpoints, phone)) {
          display: none;
        }
      }
    }
  }

  .arrow_animation {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    transform: translateY(-80%);
    margin-top: 7rem;
    order: 1;

    @media (max-width: map-get($breakpoints, tablet)) {
      flex-direction: column;
      order: 0;
      transform: translateY(-20%);
    }

    @media (max-width: map-get($breakpoints, desktop)) {
      margin-top: 5rem;
    }

    @media (max-width: map-get($breakpoints, tablet)) {
      margin-top: 4rem;
    }

    @media (max-width: 480px) {
      margin-top: 3rem;
    }

    .main-arrow_animation {
      display: flex;
      fill: $primary-color;
      font-size: 19.5px;

      #curve {
        fill: transparent;
      }

      .text {
        transform-origin: 50% 50%;
        animation: rotate 15s linear infinite;
        color: $primary-color;
        font-weight: 400;
        font-size: 20px;
        line-height: 1.4;
        text-align: left;
      }

      @keyframes rotate {
        from {
          transform: rotateZ(0deg);
        }

        to {
          transform: rotateZ(360deg);
        }
      }
    }

    .main-brief_desc {
      display: flex;
      width: 400px;
      order: 0;
      padding-top: 100px;

      @media (max-width: map-get($breakpoints, tablet)) {
        flex-direction: column;
        order: 1;
      }

      .main-brief_text {
        color: $primary-color;
        font-family: $main-font;
        font-size: 18px;
        font-weight: 400;
        line-height: 2rem;
        text-align: center;
      }
    }
  }

  .message {
    margin-top: -38rem;
    margin-bottom: 5rem;
    margin-left: 70vw;
    animation: pulse 2s infinite;
    width: auto;
    height: auto;
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.1);
    }

    100% {
      transform: scale(1);
    }
  }

  .message-icon {
    display: none;

    @media (max-width: map-get($breakpoints, tablet)) {
      display: block;
    }
  }
}
