@import './Styles/variables.scss';

#root {
  max-width: 1442px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

nav {
  a {
    margin-right: 10px;
    text-decoration: none;
    font-weight: 700;
    color: $primary-color;
    font-family: $main-font;
    font-weight: 600;
  }
}

.nav {
  color: $primary-color;
  font-family: $main-font;
  font-weight: 600;
  padding-top:px-to-rem(300px)
}