@import './Styles/index.scss';

#root {
 
  margin: 0 auto;
  padding: 0px;
  text-align: center;
  margin:0 auto;

}


// .nav {
//   padding-top: px-to-rem(247px);
//   margin:0 auto;
//   align-items: center;
//   @include media("<=desktop") {
//     padding-top: px-to-rem(147px);
//   }
// }