@import './styles/variables.scss';

:root {
  
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  margin: 0px;
  padding: 0px;
  border:none;
}
*,
*::before,
*::after{
  box-sizing: border-box;
}

body {
  
  // display: flex;
  // place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: $background-color;
  
}
.container
{
  max-width:1440px;
  margin:0 auto;
  padding:0px 118px;
}
h1 {
  font-size: 3.2em;
  font-weight: 700;
  line-height: 1.1;
  color: $primary-color;
}